@import "compass/css3";

._container{
    height: 99%;
    overflow: hidden;
}
.analysis_content{
    outline: 3px solid red;
    height: 100%;
}

.tick text{
    position: relative;
    @include transform(translateX(10px));
}

#offsetId.run {
    stroke: #000000;
    stroke-width: 3px;
    @include animation(move 5s forwards);
}

@include keyframes (move) {
    25% {
        stroke: #2E77BE;
    }
    50% {
        stroke: #ff0063;
    }
    75% {
        stroke: yellow;
    }
    100% {
        stroke: #A1DCD4;
        stroke-dashoffset: 0;
    }
}