@import "compass/css3";

body {
    width: 100vw;
    text-align: center;
    @include box-sizing(border-box);
}

$mainColor: #616161;
.top_part, .button_part{
    width: 100%;
}


.timeline_item {
    display: inline-block;
    .top_part {
        float: left;
        background-color: pink;
        display: inline-block;
        width: 100%;
        padding: 15px;

        .left_part {
            float: left;
            width: 50%;

            .input {
                width: 100%;
            }

        }

        .right_part {
            float: left;
            width: 50%;
            padding: 0px 0px 0px 50px;
        }

    }

    .button_part {
        float: left;
        background-color: green;
        height: 300px;
    }

}

._container{
    text-align: right;
}

.timeline_item {
    $timelineMargin: 20px;
    $timelineWidth: 3px;
    $timelineX: -10%;
    $timelineCircle: 5;
    $timelineTop: 20%;

    margin: $timelineMargin 0px;
    width: 90%;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    text-align: left;
    @include box-shadow(2px 2px 3px 2px $mainColor);

    &:after, &:before, .timeline_date {
        content: "";
        display: block;
        position: absolute;
        left: $timelineX;
    }

    .timeline_date{
        display: inline;
        top: calc(#{$timelineTop} - #{$timelineWidth});
        left: calc(#{$timelineX} + #{$timelineWidth * ($timelineCircle - 1)});
    }

    &:before {
        top: 0px;
        background-color: $mainColor;
        width: $timelineWidth;
        height: calc(100% + #{$timelineMargin * 2.2});
    }

    &:after {
        width: $timelineWidth * $timelineCircle;
        height: $timelineWidth * $timelineCircle;
        border-radius: 50%;

        top: $timelineTop;
        left: calc(#{$timelineX} - #{$timelineWidth * ($timelineCircle - 1) / 2});

        border: 3px solid $mainColor;
        background-color: white;
    }

}